NODE_ENV=development

RABBITMQ_URL=amqp://app_user:app_password@rabbitmq:5672
RABBITMQ_QUEUE=events_queue

PRODUCER_PORT=3000
CONSUMER_PORT=3001
TELEGRAM_NOTIFIER_PORT=3002


RABBITMQ_PUBLISH_RETRY_ATTEMPTS=3
RABBITMQ_CONSUMER_RETRY_ATTEMPTS=3
RABBITMQ_PUBLISH_RETRY_DELAY_MS=1000
RABBITMQ_DLX_EXCHANGE=events.dlx
RABBITMQ_DLQ=events.dlq


TELEGRAM_BOT_TOKEN=replace_with_telegram_bot_token
TELEGRAM_CHAT_ID=replace_with_telegram_chat_id